body {
    color: #494949;
    font-size: 16px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    color: 292929;
    font-weight: bold;
    font-size: 24px;
}

h2 {
    color: 292929;
    font-weight: regular;
    font-size: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.banner {
    background-image: url('https://source.unsplash.com/collection/3491181/1000x500');
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.banner h1 {
    font-size: 38px;
}

.container {
    width: 700px;
    margin: 50px auto;
}

.link-medium {
  color: 142534;
  border: solid #142534;
  background-color: white;
  border-radius: 50px;
  padding: 15px 20px;
  font-weight: normal;
  opacity: 0.6;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.link-medium:hover {
  opacity: 1;
  text-decoration: none;
  background-color: 142534;
  color:white;
